
.calendar_main {
	text-align: center;
	border-collapse: collapse;
    width:100%;
}
/*Calendar headline*/
.calendar_monthyear {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.calendar_monthyear a {
	text-decoration: none;
	color: red;
}
.calendar_monthyear a:hover {
	background-color: red;
    color: white;
}

/*Calendar subheading line with daynames*/
.calendar_daynames {
	color: #888;
	font-weight: bold;
}

/*Calendar days display*/
.calendar_main td  { /*for all days*/
	line-height: 17px;
	font-size: 7pt;
    width:14%;
}
.calendar_day { /*normal day*/
	color: #055;
}

.calendar_we { /*weekend days*/
	color: #06f;
	font-weight: bold;
}

.calendar_noday { /*beginning and end fields without digits*/
}

.calendar_today {
    background: #eee;
}
.calendar_eventday a,  .calendar_today a {
	text-decoration: none;
	font-weight: bold;
	display: block;
	color: red;
}

.calendar_eventday a:hover, .calendar_today a:hover {
	background-color: red;
    color: white;
}

/* ===================== Display of event list ===================== */
/* Display of introductory
   text-line in events list */
.period_of_events {
	font-size: 110%;
	font-variant: small-caps;
	margin-bottom: .5em;
}
.period_of_events span {
	font-size: 91%;
	font-weight: bold;
	font-variant: normal;
}

/*Start event list*/
.event_monthyear { /*Heading with month and year*/
	font-weight: bold;
	font-size: 10pt;
	padding-top: 13px;
}

.event_data_row td { /*definition here take precedence over definitions in fields*/
    color:black;
	font-size: 11px;
}

.birthday_data_row td {
	font-size: 11px;
	background: #fdd;
}
.event_data { /*this is for all data fields*/
    padding: 1px 1px 3px 2px;
    line-height: 1.25;
}
.event_date   {/*this is the date field*/
    width:14%;
	background: #dfd;
}
.event_time   {/*this is the time field*/
    width:11%;
	background: #dfd;
}
.event_event   {/*this is the time field*/
    width:28%;
    background:#eef;
}
.event_location   {/*this is the location field*/
    width:29%;
	background: #dfd;
}
.event_link   {/*this is the link field*/
    width:25%;
	background: #dfd;
}

/*sub heading (=event_heading_row) should be put after event data
as the sub heading fields have double classes
and the last data takes effect. (The subheading
should not take the background-color of the events,
but it should take the same width.) */

.event_heading_row td { /*sub heading*/
	background-color: #eee;
    line-height:1.25;
	color: #444;
	font-weight: bold;
	font-style: italic;
	font-size: 11px;
}
.event_heading {
    height:12px;
    padding-left:1px;
}


/* ===================== For display of next event only, with marquee-funktion, does not validate! ===================== */

.nextevent_date {
    background:#eee;
	color: #888;
	font-size: 8px;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
    width: 100%;
    text-align: center;
}
marquee  {
    background:#eee;
    width: 100%;
    margin:0 0 10px;
    text-align: center;
    height:50px;
}
.nextevent_event {
	color: #aaa;
	font-size: 16px;
	font-weight: bold;
    letter-spacing: .1em;
}
.nextevent_location {
	color: #999;
	font-size: 13px;
}

/* ===================== Display of backend ===================== */

.calendar_input {
	border: 2px solid #777;
    padding:0 3px 3px;
    background: #eee;
}
.calendar_input_narrow,
.calendar_input_medium  {
    width:100%;
}
.calendar_input_wide {
	position: absolute;
    left: 50%;
    margin-left:-550px;
    z-index: 10;
    width:1100px;
}
.calendar_input input.submit {
    min-width: 100px;
    letter-spacing: .2em;
    /*color: green;*/
    font-weight: bold;
}
.calendar_input input  {
    font-size:8pt;
    text-indent:0;
}
.firstline_calendarinput td {
    vertical-align: bottom;
    font-size: 11px;
    line-height:1.3;
}
.calendarinput_line2 {
    text-align: right;
    font-size: 11px;
    line-height:1.3;
    padding-right:3px;
}

/* === Width of input fields === */
.calendar_input_datefield  {
    width:82px;
}
.calendar_input_date  {
    width:56px;
}
.calendar_input_time  {
    width:30px;
}
.calendar_input_event  {
/*controls also location etc*/
    width:100%;
}
.event_highlighting  {
    color:red;
}
.calendar_button  {
    font-size:smaller;
    border-style:outset;
    background: #dedede;
    letter-spacing: 1px;
    padding:1px 0;
}
.calendar_button_pressed  {
    font-size:smaller;
    color: #a00;
    border-style:inset;
    background:#eee;
    letter-spacing: 1px;
    padding:1px 0;
}
