.calendar_main {
    text-align: center;
    border-collapse: collapse;
    width:100%;
}
/*Calendar headline*/
.calendar_monthyear {
    text-align: center;
}
.calendar_monthyear a {
    text-decoration: none;
}

/*Calendar subheading line with daynames*/
.calendar_daynames {}

/*Calendar days display*/
.calendar_main th, .calendar_main td { /*for all days*/
    width:14%;
}
.calendar_day {} /*normal day*/
.calendar_we { /*weekend days*/
    font-style: italic;
}
.calendar_noday {} /*beginning and end fields without digits*/
.calendar_today {
    font-weight: bold;
}
.calendar_eventday a, .calendar_today a {}

.calendar_loading {
    visibility: hidden;
}

/* ===================== Display of event list ===================== */
.calendar_eventlist {
    width: 100%;
}
.calendar_eventlist th, .calendar_eventlist td {
    border: 1px solid;
}
/* Display of introductory
   text-line in events list */
.period_of_events {}
.period_of_events span {}

/*Start event list*/
.event_monthyear {} /*Heading with month and year*/
.past_event {}
.event_data_row td {} /*definition here take precedence over definitions in fields*/
.birthday_data_row td {}

.event_data {} /*this is for all data fields*/
.event_date {} /*this is the date field*/
.event_time {} /*this is the time field*/
.event_summary {} /*this is the summary field*/
.event_location {} /*this is the location field*/
.event_link {}/*this is the link field*/

/*sub heading (=event_heading_row) should be put after event data
as the sub heading fields have double classes
and the last data takes effect. (The subheading
should not take the background-color of the events,
but it should take the same width.) */

.event_heading_row td {} /*sub heading*/
.event_heading {}

/*
 *new style event list
 */

p.period_of_events {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}
figcaption.event_monthyear {
    font-size: 1.2em;
    margin: 1em 0;
    text-align: center;
}
ol.calendar_eventlist {
    list-style: none;
    padding: 0;
}
li.birthday_data_row, li.event_data_row {
    list-style: none;
    border: 1px dotted grey;
    margin: 0.5em 0;
    padding: 0.5em;
}
p.event_data {}
span.event_date {}
span.event_time {}
p.event_summary {
    font-size: 1.2em;
    text-align: center;
}
p.event_location {
    text-align: center;
}
p.event_link {
    text-align: right;
}

/* ===================== For display of next event only, with marquee-funktion, does not validate! ===================== */

.nextevent_date {
    text-align: center;
}
.calendar_marquee_outer {
    overflow: hidden;
}
.calendar_marquee {
    width: 100%;
    text-align: center;
    animation: calendar_marquee 15s linear infinite;
}
@keyframes calendar_marquee {
    0%   { transform: translateY(+150%); }
    100% { transform: translateY(-250%); }
}
.nextevent_event {}
.nextevent_location {}

/* backend edit events */
.calendar_overview tr {
    border: 1px solid;
}

.calendar_input {}
.calendar_input button {}
.calendar_input > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.calendar_input > div > div {
    align-self: flex-end;
}
.calendar_input > div:first-child, .calendar_input > div:last-child {}
.calendar_input input {
    display: block;
}
.calendar_input_event {} /*controls also location etc*/
